.venv/
*.tfstate
*.tfstate.backup
*.helm-migrated
lb-values.yaml
tfplan
charts/voting-app-ingress/
1.9/
69.0/

# Local dev secrets — не комітити
k8s/local/values-grafana-local.yaml
k8s/local/values-local.yaml
