# ─── AWS Region ────────────────────────────────────
aws_region = "eu-central-1"

# ─── EKS ──────────────────────────────────────────
eks_cluster_version     = "1.31"
eks_node_instance_types = ["t3.small"]
eks_desired_nodes       = 5
eks_min_nodes           = 3
eks_max_nodes           = 5

# ─── VPC ──────────────────────────────────────────
vpc_cidr         = "10.0.0.0/16"
azs              = ["eu-central-1a", "eu-central-1b"]
enable_nat_gateway = true
single_nat_gateway = true

# ─── Domain ───────────────────────────────────────
domain_name = "mochthebest.pp.ua"

# ─── GitHub OIDC (WIF) — опційно ──────────────────
# create_github_oidc = true
# github_ci_role_name = "my-app-eks-github-ci"
# github_repo_allowlist = ["my-org/my-repo"]
